* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lexend", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    flex: 1;
    overflow-x: hidden;
  }
  
  .display-box, header {
    background-color: #2e2828;
    color: #fff;
    text-transform: uppercase;
  }
  
  .display-box h4 {
    text-decoration: underline;
  }
  
  header {
    width: 100%;
    height: 8vh;
    text-align: center;
    font-family: "Bree Serif";
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  header a {
    margin: 0 15px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  header a:hover {
    color: #8a7e7e;
    text-decoration: underline;
  }
  
  .display-box {
    border-radius: 20px;
    width: 15vw;
    padding: 20px;
    position: relative;
    top: 20px;
    display: block;
    margin: 0 auto;
    font-family: "Abril Fatface";
  }
  
  .display-box h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
  }
  
  .display-box h4, header a {
    letter-spacing: 1px;
  }
  
  .wp-bg-box {
    height: 40vh;
    width: 100vw;
  }
  
  .wp-bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: relative;
    position: fixed;
  }
  
  .food-portrait {
    border-radius: 29px;
    height: 400px;
    width: 410px;
    display: inline-block;
    margin-left: 10px;
    border: 5px solid #ffff;
    overflow: hidden; /* Adiciona overflow hidden para esconder a parte expandida da imagem */
  }
  
  .food-1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-style: solid;
    border-radius: 20px;
    border: 1px solid #ffff;
    transition: transform 0.7s ease; /* Adiciona transição para a transformação */
  }
  
  .food-portrait:hover .food-1 {
    transform: scale(1.1); /* Expande a imagem ao passar o mouse */
  }
  
  .el-li {
    width: 100vw;
    z-index: -1;
    position: absolute;
  }
  
  .text-content, .text-content a {
    text-align: center;
    color: #ffff;
    text-transform: uppercase;
  }
  
  .text-content {
    margin: 0 auto;
  }
  
  ul {
    list-style: none;
    padding-bottom: 20px;
  }
  
  .recipe-item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }
  
  .title-recipe {
    font-size: 40px;
    font-family: "Abril Fatface";
    font-weight: 300;
  }
  
  .text-content p {
    margin-top: 25px;
    font-size: 22px;
    text-transform: none;
  }
  
  .test {
    font-family: "Abril Fatface";
    position: relative;
    text-align: right;
    top: 52px;
    font-size: 22px;
    transition: 0.3s;
  }
  
  .text-content a:hover {
    font-size: 22.3px;
  }
  
  .recipe-item {
    margin-bottom: 30px;
  }
  
  .footer-bg img {
    height: 35vh;
    width: 100vw;
  }
  
  footer {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: auto;
    text-align: center;
  }
  
  .background-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .bg-footer {
    width: 100%;
    height: 107%;
    object-fit: cover;
  }
  
  .footer-content {
    position: relative;
    z-index: 1;
  }
  
  footer a {
    font-size: 20px;
    color: #fff;
    margin: 5px;
    text-decoration: none;
  }
  
  .logo {
    margin-top: 20px;
    height: 100px;
  }
  
  .footer-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .footer-social img {
    height: 40px;
    width: 40px;
  }
  
  .footer-credits {
    margin-top: 20px;
  }
  
  .footer-credits a {
    text-decoration: underline;
    margin-top: 20px;
    font-size: 19px;
  }
  