* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Lexend", sans-serif;
}

.container-bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  filter: grayscale(1);
}
.bg-credits-container {
  height: 300px; /* Altura fixa do contêiner */
  width: 400px; /* Largura fixa do contêiner */
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden; /* Garante que o conteúdo não ultrapasse as bordas */
  position: relative; /* Necessário para o posicionamento correto */
  border: 5px solid #2e2828;
}
.title-credits {
  font-size: 1.5rem;
  margin-bottom: 60px;
  background: linear-gradient(to right, #201c1c, #2e2828, #201c1c);
  background-size: 200% 100%;
  background-position: center;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.title-credits h1 {
  color: #fff;
  text-overflow: ellipsis;
  font-family: "Abril Fatface", sans-serif;
  font-weight: 300;
}
#credits-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credits-element {
  width: 80%; /* Ajuste conforme necessário */
  margin: 0px auto; /* Adiciona margem superior e inferior */
  display: flex;
  justify-content: center;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bg {
  width: 100vw;
  margin-bottom: 0;
  position: absolute;
  z-index: -1;
  left: 0;
  border: 5px solid #fff;
  right: 0;
}

.recipe-portrait {
  border-radius: 29px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.recipe-img {
  height: 390px;
  width: 450px;
  object-fit: cover;
  border-style: solid;
  border-radius: 20px;
  border: 1px solid #fff;
  transition: transform 0.7s ease;
  border: 5px solid #fff;
}

.recipe-img:hover {
  transform: scale(1.025);
}

.recipe-title-box {
  background: linear-gradient(to right, #201c1c, #2e2828, #201c1c);
  background-size: 200% 100%;
  background-position: center;
  height: 100px;
  width: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 5px solid #fff;
  position: relative;
  bottom: 80px;
}

.recipe-title {
  font-family: "Abril Fatface", sans-serif;
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.recipe-source-box {
  position: absolute;
  display: flex;
  background: none;
  background-size: 200% 100%;
  background-position: center;
  left: 0px;
  padding: 5px 8px;
  border-radius: 10px;
  border: 5px solid #fff;
  font-family: "Bree Serif", sans-serif;
}

.source {
  color: #fff;
  font-size: 20px;
}

/* CSS para os backgrounds */

section {
  margin-bottom: 10%;
}

.bg-credits-container {
  height: 300px; /* Altura fixa do contêiner */
  width: 400px; /* Largura fixa do contêiner */
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden; /* Garante que o conteúdo não ultrapasse as bordas */
  position: relative; /* Necessário para o posicionamento correto */
  border: 5px solid #2e2828;
}

.bg-credits {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* border-radius: 20px; */
  transition: transform 0.7s ease;
  gap: 20px;
  /* margin-top: 20px; */
}


.bg-credits:hover {
  transform: scale(1.1); /* Expande a imagem dentro do contêiner */
}

.backgrounds {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 200px;
  border-radius: 20px;
}

/* Adicione essa regra CSS */
.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
  font-family: "Abril Fatface", sans-serif;
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  z-index: 1; /* Garanta que o texto esteja sobre a imagem */
}

.text-box h3 {
  font-weight: 300;
  text-decoration: underline;
}

.bg-section {
  width: 100vw;
  height: 70vh; /* Certifique-se de que a imagem ocupe a tela toda */
  position: absolute;
  left: 0;
  z-index: -1; /* Para que a imagem fique atrás do texto */
  border: 5px solid #fff;
}

footer {
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.background-footer {
  margin-top: 30px;
  width: 100vw;
  height: 2vh;
  z-index: -1;
}

.bg-footer {
  width: 100%;
  height: 107%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-content {
  position: relative;
  z-index: 1;
}

footer a {
  font-size: 20px;
  color: #fff;
  margin: 5px;
  text-decoration: none;
}


.logo {
  margin-top: 20px;
  height: 100px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.footer-social img {
  height: 40px;
  width: 40px;
}

.footer-social img:hover {
  filter: brightness(0.7);
  transition: 0.2s;
}

.footer-credits {
  margin-top: 20px;
  font-family: "Lexend", sans-serif;
}

.footer-credits a {
  text-decoration: underline;
  margin-top: 20px;
  font-size: 19px;
}
